head
    meta(charset="UTF-8")
    title Snaék
    link(rel="stylesheet" href="/css/style.css")

body
    head hi
    div(id="game_window")
        canvas(id="canvas" width="350" height="350")
        p It's Snake, Waddya want
        button(id="btn") START

    script(src="javascript/settings.js")
    script(src="javascript/draw.js")
    script(src="javascript/app.js")
