head
    meta(charset="UTF-8")
    title Snaék
    link(rel="stylesheet" href="/css/style.css")

body
    head hi
    div(id="game_window")
        canvas(id="canvas" width="700" height="700")
        h1 Playe Snaék Pls
        button(id="btn") START

    script(src="javascript/settings.js")
    script(src="javascript/draw.js")
    script(src="javascript/app.js")