head  
  //- link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P")
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
  link(href="/css/style.css" rel="stylesheet" type="text/css")


a(href="/game")
  h1(class="animated infinite pulse" id="title") Snaék

div(class="sign_log_part")
  div(class="animated fadeInLeft" id="page_left")
    form(method="post" action="/" novalidate)
      div(class="form-header")
        h2 Please, register a new account.
      div(class="form-field")
        input(class="input" name="username_sign" type="text" placeholder="Username" required)
      div(class="form-field")
        input(class="input" name="email_sign" type="text" placeholder="Email" required)
      div(class="form-field")
        input(class="input" name="password_sign" type="password" placeholder="Password" required)
      div(class="form-actions")
        button(class="btn" type="submit") Sign up
      div
        if error
          p= error

  div(id="vertical-line-home")

  div(class="animated fadeInRight" id="page_right")
    form(method="post" action="/login" novalidate)
      div(class="form-header")
        h2 Log in.
      div(class="form-field")
        input(class="input" name="email_log" type="text" placeholder="Email" required)
      div(class="form-field")
        input(class="input" name="password_log" type="password" placeholder="Password" required)
      div(class="form-actions")
        button(class="btn" type="submit") Log in

div(class="scoreboard")
  h2 Scoreboard
    ul
      each val in [1, 2, 3, 4, 5]
        li= "Player " + val
        br