link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
link(href="/css/style.css" rel="stylesheet" type="text/css")

h1 Snaék

div(class="sign_log_part")
  div(class="page_left")
    form(method="post" action="/" novalidate)
      div(class="form-header")
        h2 Please, register a new account.
      div(class="form-field")
        input(class="input" name="username_sign" type="text" placeholder="Username" required)
      div(class="form-field")
        input(class="input" name="email_sign" type="text" placeholder="Email" required)
      div(class="form-field")
        input(class="input" name="password_sign" type="text" placeholder="Password" required)
      div(class="form-actions")
        button(class="btn" type="submit") Sign up

  div(class="vertical-line")

  div(class="page_right")
    form(method="post" action="/" novalidate)
      div(class="form-header")
        h2 Log in.
      div(class="form-field")
        input(class="input" name="email_log" type="text" placeholder="Email" required)
      div(class="form-field")
        input(class="input" name="password_log" type="text" placeholder="Password" required)
      div(class="form-actions")
        button(class="btn" type="submit") Log in

div(class="scoreboard")
  h2 Scoreboard