div{
    border-style: dashed;
    border-width: 2px;

    text-align: center;

    /*To center the div*/
    display: table;
    margin: 0 auto;

    background-image: url('snake.jpg');
    background-size: auto 275px;
    background-repeat: no-repeat;
}